*{
    margin: 0;
    box-sizing: border-box;
}
.aside{
    width: 100%;
    height: 85vh;
    background-color: rgb(95, 112, 128);
}
.operation{
    width: 100%;
    height: 12vh;
    background-color: aqua;
    border: solid 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
}